/* Store Page Layout */



.store-sections {
  display: flex;
  width: 100%;
}

/* Section Styles */
.store-section {
  background: #f8fafc;
  padding: 2rem;
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.section-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}


.brontosaurus-page-container {
  background-color: #242424;
  color: seagreen;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.brontosaurus-page-title {
  margin-top: 10px;
  margin-left: 10px;
  height: fit-content;
  width: 42%;
}

.city-image {
  margin: 10px;
  width: 42%;
 
}

.image-container-heading {
  display: inline-flex;
  align-items: center;
  margin-top: 5%;
}

.brontosaurus-page-nav {
  display: inline-flex;
  width: 30%;
  justify-content: space-around;
}

.page-nav-item {
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  color: seagreen;
}

.page-nav-item:hover {
  color: lightgreen;
  text-decoration: underline;
  transition: all 0.3s ease;
  cursor: pointer;
}