
/* Brontosaurus Page Layout */
.brontosaurus-page-container {
  background-color: #242424;
  color: seagreen;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}


/* Brontosaurus Page Images */
.image-container-heading {
  display: inline-flex;
  align-items: center;
  margin-top: 5%;
}

.brontosaurus-page-title {
  margin-top: 10px;
  margin-left: 10px;
  height: fit-content;
  width: 42%;
}

.city-image {
  margin: 10px;
  width: 42%;
  border-radius: 1%;
}


/* Zine Navbar */
.brontosaurus-page-nav {
  display: inline-flex;
  width: 30%;
  justify-content: space-around;
}

.page-nav-item {
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  color: seagreen;
}

.page-nav-item:hover {
  color: lightgreen;
  text-decoration: underline;
  transition: all 0.3s ease;
  cursor: pointer;
}


/* Zine Images */
.zine-image {
  width: 50%;
  height: 50%;
  object-fit: cover;
  margin: 10px;
}
