.navbar {
  background-color: #242424;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link {
  color: salmon;
  text-decoration: none;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  white-space: nowrap;
  min-width: fit-content;
  font-family: courier;
  display: inline-block;
  background: transparent;
}

.nav-link:hover {
  background-color: rgb(157, 77, 68);
  color: #000;
  transition: 20ms ease-in-out;
}

.nav-link.active {
  transition: 10ms ease-in-out;
  background-color: rgb(3, 45, 3);
  color: lightgreen;
  text-transform: uppercase;
  font-family: courier;

}


